@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 100% 97%;
    --foreground: 339 20% 20%;
    --card: 210 100% 97%;
    --card-foreground: 210 22% 22%;
    --popover: 0 0% 100%;
    --popover-foreground: 341 20% 22%;
    --primary: 308 56% 85%;
    --primary-foreground: 210 22% 22%;
    --secondary: 196 75% 88%;
    --secondary-foreground: 210 22% 22%;
    --muted: 210 100% 95%;
    --muted-foreground: 210 22% 22%;
    --accent: 211 86% 70%;
    --accent-foreground: 210 22% 22%;
    --destructive: 0 93% 73%;
    --destructive-foreground: 210 22% 22%;
    --border: 210 40% 80%;
    --input: 210 40% 56%;
    --ring: 210 40% 60%;
    --radius: 1rem;
  }

  .dark {
    --background: 210 100% 3%;
    --foreground: 339 20% 80%;
    --card: 210 100% 3%;
    --card-foreground: 210 22% 78%;
    --popover: 0 0% 0%;
    --popover-foreground: 341 20% 78%;
    --primary: 308 56% 15%;
    --primary-foreground: 210 22% 78%;
    --secondary: 196 75% 12%;
    --secondary-foreground: 210 22% 78%;
    --muted: 210 100% 5%;
    --muted-foreground: 210 22% 78%;
    --accent: 211 86% 30%;
    --accent-foreground: 210 22% 78%;
    --destructive: 0 93% 27%;
    --destructive-foreground: 210 22% 78%;
    --border: 210 40% 20%;
    --input: 210 40% 44%;
    --ring: 210 40% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}